.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;

}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #ddd;
}

.nav li a.active {
  color: white;
  background-color: #4CAF50;
}

.nav img {
float : left;
display: inline-block;
}

.content-inner {
  background-color: white;
  margin: 10px 200px 10px 200px;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}