<head>
	<style type="text/css">
		.formfield {
			display: table;
			width: 100%;
			padding-bottom: 25px;
		}
		.formfield label,
		.formfield .input-wrapper {
			display: table-cell;
			vertical-align: top;
		}
		.formfield label {
			width: 100px;
		}
		.formfield .input-wrapper .table-form {
			width: 100%;
		}
	</style>
</head>

<body>
	<div class="container"  style="border: 1px solid black; padding: 20px 50px 20px 50px;">
	<h1 style="text-align: center;"> Hubungi Kami </h1>
	<div class="container">
		<b> Kantor : </b> Google <br>
		<b> Nomor Telepon : </b> 081234567890 <br>
		<b> Email : </b> annidamf@gmail.com <br> <br>
	</div>

	<h1 style="text-align: center;"> Kirimkan Pesan </h1>
	<div class="container">
		<p class="formfield">
			<label for = "nama"><b>Nama</b> </label> <input type="text" id="nama"/></p>

			<p class="formfield"><label for="email"><b>Email</b> </label> <input type="text" id="email"/></p>

			<p class="choice"> <b>Jenis Kelamin</b>
				<input type="radio" id="laki" name="laki" value="laki">
				<label for="laki">Laki-Laki </label> <br>
				<input type="radio" id="pr" name="pr" value="pr" style="margin-left: 106px;">
				<label for="pr" >Perempuan</label></p>

				<p class="formfield"><label for="pesan" style="text-align: bottom;"><b>Pesan</b> </label> <input type="text" id="pesan" style="width: 300px; height: 150px"/></p>

				<input type="submit" value="Kirimkan">

				<br> <br>

			<a href="index.html">Kembali Ke Index</a>

			</div>
		</div>

		</body>

